In [27]:
#Given a list of numbers, return a list of the squares of all the numbers.

def sq(list):
    store=[]
    for item in list:
        out=item*item
        store.append(out)
    return  store

In [29]:
list1=[2,3]
sq(list1)

[4, 9]

In [30]:
list2=[9,12,16,20]
sq(list2)

[81, 144, 256, 400]

In [31]:
list3=[26,46,78,90,132,144]
sq(list3)

[676, 2116, 6084, 8100, 17424, 20736]

In [32]:
list4=[35,65,75,85,95,2345,6575,120]
sq(list4)

[1225, 4225, 5625, 7225, 9025, 5499025, 43230625, 14400]

In [33]:
list5=[123,456,7890,987,654,3210]
sq(list5)

[15129, 207936, 62252100, 974169, 427716, 10304100]